@charset "utf-8";
/* CSS Document */

body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol,

li, dl, dt, dd, form, a, fieldset, th, td

{margin: 0; padding: 0; border: 0; outline: none;}

ol, ul { list-style:none }


body { font-family:微软雅黑; font-size:12px; line-height:1.6; color:#333; background: #6C9}

@media screen and (max-width: 800px) {
    body {
        background-color: yellow;
    }
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}


/* globle class */

.nav{ background:#259b24; height:40px; line-height:40px;}

.nav ul{ width:62.5em; margin:0 auto;}

.nav ul li{ float:left; width:120px; text-align:center;}

.nav ul li a{ color:#fff; font-size:16px; display:block;text-decoration:none; }

.nav li a:hover{background:#2bab2a; text-decoration:none;color:#fff;}

.nav li .active,.navList li .active:hover{ color:#fff;background:#187c17;}

.content{ width:960px; margin:20px auto; overflow:hidden; background:#fff; padding:10px 20px; border-top-left-radius:15px; border-top-right-radius:15px;}

.left{ margin-top: 10px; float:left; width:200px; background: #8effb0; padding:5px 10px 10px; border-top-left-radius:15px;border-top-right-radius:15px;border-bottom-left-radius: 15px;border-bottom-right-radius: 15px;}



.left p{ line-height:25px;}

.right{ float:right; width:720px;}

.banner{ margin-bottom:20px;}



.con{ line-height:26px; overflow: hidden;}

.con h2{ color: #F00; font-size:14px; border-bottom:1px dashed #F00; margin-bottom:10px;}



.pic{ margin:20px;}

.pic img{margin-right:16px;}



.con strong{ color:#259b24}

.foot{ border-top:1px solid #690; margin:20px auto 0; line-height:30px; text-align:center}



.right_nr{ width:450px; float:left; margin-top:20px;}

.right_nr span{ margin-left:5px;}

.right_nr a{ margin-left:10px;}

.right_nr h2{ border-bottom:none; color:#000; }



@keyframes moveright {
    from {
        left: 0px;
    }

    to {
        left: 1600px;
    }

}


@keyframes moveleft {
    /* from {
        left: 500px;
    }

    to {
        left: 300px;
    } */
    0%   {background-color: rgba(14, 206, 88, 0.623);left: 0px;bottom: 0px;}
    25%  {background-color: rgb(115, 141, 224);left: 1250px;bottom: 0px;}
    50%  {background-color: rgb(218, 88, 223);left: 230px;bottom: 1250px;}
    70%  {background-color: rgb(54, 43, 54);left: 0px;bottom: 245px;}
    100% {background-color: rgb(223, 90, 130);left: 0px;bottom: 0px;}
}




@keyframes change-size{
    0%,100%{
        transform: scale(1.0,1.0);
    }
    30%{
        transform: scale(1.0,1.0); 
    }
}